

<body>
  <main class='container'>

  <header>
    <h1>TASKLIST</h1>
  </header>

<section>

  <h2>Your Tasks</h2>
    <% @tasks.each_with_index do |task, i|%>
  <li class="title">
    <%= "#{i + 1}. #{task.name}" %>
  </li>
  <li>
    <%= "#{task.description}" %>
  </li>
  <li>
    <%= "#{task.completion_date}" %>
  </li>
    <% end %>

    </main>

</section>


<footer>
  copywrite 2018
</footer>



</body>
