<div id='form-container'>
   <section>
      <p><% if @task.nil? %></p>
      <p><%= "404 NOT FOUND" %></p>
      <% else %>
      <h3><%= link_to "Edit: #{@task.name}", edit_task_path(@task.id) %></h3>
      <ul>
         <li>
            <%= "Description: #{@task.description}"%>
         </li>
         <li>
            <%= "Goal completion date: #{@task.completion_date}"%>
         </li>
      </ul>
      <% end %>
   </section>
</div>
<!-- then in the browser you can do http://localhost:3000/tasks/id -->
