/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@media only screen and (min-width: 600px) and (min-width: 400px){
    #website-container {
        background-color: white;
    }
}



#website-container {
  display: grid;
  grid-template-rows: 1fr;
  border: 3px solid grey;
  border-radius: 6px;
  font-family: sans-serif;
}

/* #website-container header {
  padding-left: 2%;
} */

#your-tasks-container {
  display: grid;
  border: 2px solid hotpink;
  border-radius: 6px;
  padding: 5%;
  width: 85%;
}

#body-container {
  display: grid;
  grid-template-rows: 1fr;
}

#buttons-tasks-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}


#your-tasks-title {
  text-align: center;
}


#task-buttons {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  padding-left: 3%;

}

 section ul {
   list-style-type: none;
 }

 .add-task-button, .all-tasks-button {
   list-style-type: none;
   border: 2px solid grey;
   border-radius: 6px;
   padding: 1.5%;
   padding-top: 1%;
   margin: 4%;
   width: 50%;
   text-align: center;
 }

.add-task-button a, .all-tasks-button a{
  text-decoration: none;
  color: black;
}

 .mark-edit-delete {
   display: flex;
   list-style: none;
   font-weight: bold;
   justify-content: space-between;
 }

.mark-edit-delete a{
  text-decoration: none;
  color: black;
}
 .mark-complete {
   text-decoration: line-through;
   font-weight: bold;
 }

 .unmark-complete {
   text-decoration: none;
   font-weight: bold;
 }

 footer {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: pink;
   height: 55px;
 }
