// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .task-button {
//   list-style-type: none;
//   border: 2px solid hotpink;
//   border-radius: 6px;
//   padding: 5%;
//   padding-top: 1%;
// }
#form-container {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  border: 2px solid hotpink;
  border-radius: 6px;
  align-items: center;
}

.task-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 10%;
}

.task-form input {
  width: 100%;
  margin: 1%;
}
