// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .task-button {
//   list-style-type: none;
//   border: 2px solid hotpink;
//   border-radius: 6px;
//   padding: 5%;
//   padding-top: 1%;
// }
.new-task-container, .add-task-button, .all-tasks-button {
  list-style-type: none;
  border: 2px solid hotpink;
  border-radius: 6px;
  padding: 5%;
  padding-top: 1%;
}

.mark-edit-delete {
  display: flex;
  list-style: none;
}

#mark-complete {
  text-decoration: line-through;
}

#unmark-complete {
  text-decoration: none;
}
